@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.bg {
  width: 100vw;
  height: 100vh;
  background: goldenrod url(images/fundo-madeira.jpg) center center no-repeat fixed;
  background-size: cover;
  position: relative;
}

.phone {
  display: block;
  clear: both;
  border-radius: 45px;
  width: 300px;
  height: 615px;
  background: center center no-repeat fixed;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

.iframe {
  display: block;
  clear: both;
  width: 265px;
  height: 469px;
  background: white center center no-repeat fixed;
  background-size: cover;
  position: absolute;
  top: 53%;
  left: 53%;
  transform: translate(-51%, -52%);
}

.logo {
  border-radius: 50%;
  margin: 10px;
  width: 60px;
  height: 60px;
  display: block;
  float: right;
  clear: both; 
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.logo:hover {
  margin: 10px 15px 10px 10px;
  box-sizing: border-box;
  border: solid 2px rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

#logo1 {
  width: 100%;
  height: 100%;
  background: white url(images/logo-home.jpg) center center no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo2 {
  width: 100%;
  height: 100%;
  background: white url(images/logo-github.jpg) center center no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo3 {
  width: 100%;
  height: 100%;
  background: white url(images/logo-youtube.jpg) center center no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo4 {
  width: 100%;
  height: 100%;
  background: white url(images/logo-instagram.jpg) center center no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo5 {
  width: 100%;
  height: 100%;
  background: white url(images/logo-twitter.jpg) center center no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo6 {
  width: 100%;
  height: 100%;
  background: white url(images/logo-facebook.jpg) center center no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tela {
  width: 100%;
}

.botao {
  margin: 3%;
  width: 94%;
  height: 20vh;
  font-size: 6vh;
  display: block;
  color: white;
  padding-top: 5vh;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  box-sizing: border-box;
  background-color: rgb(210, 0, 0);
  border: solid 7px rgba(255, 255, 255, 0.13);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.400);
}

.botao:hover {
  transition-duration: 1s;
  border: double 7px rgba(255, 255, 255, 0.425);
  background-color: rgb(170, 0, 0);
  transition: all 0.4s ease-in-out;
}

.bgDark {
  background-color: rgb(33, 33, 33);
}

#bgDark {
  background-color: rgb(0, 0, 0);
}